
<h2> ADD USER</h2>

<form>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1">Vat number</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your vatnumber">
            <div class="js-validation-vatnumber validation-error" style="display: none">
                Invalid Vat number
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1">First name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter you first name">
            <div class="js-validation-vatnumber validation-error" style="display: none">
                Invalid Vat number
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1">Last name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter you last name ">
            <div class="js-validation-vatnumber validation-error" style="display: none">
                Invalid Vat number
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1">Phone number</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your phone number">
            <div class="js-validation-vatnumber validation-error" style="display: none">
                Invalid Vat number
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email address">
            <div class="js-validation-vatnumber validation-error" style="display: none">
                Invalid Vat number
            </div>
        </div>
    </div>

   

    <button type="button" class="btn btn-primary">Add</button>
</form>


