<h2> SEARCH USER</h2>
<form>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1">Vat number</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search by vatnumber">
            <div class="js-validation-vatnumber validation-error" style="display: none">
                Invalid Vat number
            </div>
        </div>
    </div>

  
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1">User ID</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search by user id">
            <div class="js-validation-vatnumber validation-error" style="display: none">
                Invalid Vat number
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search by email address">
            <div class="js-validation-vatnumber validation-error" style="display: none">
                Invalid Vat number
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary">Search</button>

</form>