<h2> UPDATE USER</h2>
<form>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1">Vat number</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Update your vatnumber">
            <div class="js-validation-vatnumber validation-error" style="display: none">
                Invalid Vat number
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1">First name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Update you first name">
            <div class="js-validation-vatnumber validation-error" style="display: none">
                Invalid Vat number
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1">Last name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Update you last name ">
            <div class="js-validation-vatnumber validation-error" style="display: none">
                Invalid Vat number
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1">Phone number</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Update your phone number">
            <div class="js-validation-vatnumber validation-error" style="display: none">
                Invalid Vat number
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Update your email address">
            <div class="js-validation-vatnumber validation-error" style="display: none">
                Invalid Vat number
            </div>
        </div>
    </div>

   
    <button type="button" class="btn btn-primary">Update</button>
</form>
